$link-hover-color: #C99B80;
$app-text-color: #2c3e50;
$pitch-black: #202428;
$white-shade: rgba(255, 255, 255, 0.5);
$home-button-bg: rgba(199,203,210,0.8);
$gradient-color: linear-gradient(to right, #136a8a, #267871) !important;

.primary-button{
  background-image: $gradient-color;
}

.inline-list{
  list-style-type: none;

  li {
    display: inline-block;
    padding: 15px 20px;
    margin-right: 5px !important;
  }
}

.space{
  height: 100px;
}

.list-link{
  li {
    cursor: pointer;
  }
  li:hover, a:hover{
    color: $link-hover-color;
    text-decoration: none;
  }
}

a{
  color: $app-text-color;
  text-decoration: none;
  cursor: pointer;

  &:hover{
    color: lightness($color: $app-text-color) !important;
  }
}

.main-screen{
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.veniqa-button{
  padding: 10px 20px;
  margin: 5px 10px;
  font-size: larger;
  background-color: $home-button-bg;
  color: $pitch-black;
  font-weight: bold;
  border: 2px solid $pitch-black;
  border-radius: 0;

  &.dark{
    border: 2px solid $white-shade !important;
    background-color: $pitch-black;
    color: white;
  }
}

.vendor-search-input{
  padding: 25px !important;
}

.dark-button{
  border: 2px solid $white-shade !important;
    background-color: $pitch-black;
    color: white;
}

.low-side-padding{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.modal-bottom {
  margin-bottom: 50px;
}