.vue-notification {
  margin: 0px !important;
  border-left: 0px !important;
  font-size: 18px !important;
  text-align: center !important;
  padding: 20px 10px !important;
}

.vdatetime-input{
  width: 100%;
}