/*! Place your custom styles here */

.bar .logo {
    max-height: 4em;
}

section#welcome .typed-headline, section#welcome .typed-headline > .h2:not(:last-child) {
    margin-bottom: 0;
}

section#welcome {
    height: 92vh;
}

/* Pulling content above in cover towards center */
section#welcome .container.pos-vertical-center {
    top: 50%;
}

@media (max-width: 767px) {
    /* Pushing content in cover towards center in phone view */
    section#welcome .container.pos-vertical-center {
        top: 10%;
    }
}

@media (min-width: 768px) {
    /* Pulling the buttons in the cover up to prevent too much spacing between typing text and buttons */
    section#welcome .row .row:last-child {
        margin-top: 1em;
    }
}

.call-to-action-btn {
    margin-bottom: 10px;
}

.timer {
    padding-top: 30%
}

/* Overriding negative margins */
#free-stylist-form form, #early-access-form form {
    margin-left: 0px;
    margin-right: 0px;
}